body {
	font-family: sans-serif;
	background-color: black;
	color: darkgray;
}

a {
	color: darkgray;
}

#Title {
	text-align: center;
	border: 1px solid green;
	height: 5em;
}

#DropdownsContainer div {
	border: 1px solid green;
	float: left;
	display: inline;
	height: 5em;
	width: 24.851%;
}

 #DropdownsContainer div div {
	 visibility: hidden;
	 width: 100%;
	 text-align: center;
 }

#DropdownsContainer div h2 {
	text-align: center;
}

#DropdownsContainer div:hover {
	background-color: green;
}
#DropdownsContainer div:hover div{
	visibility: visible;
}
 
#DropdownsContainer div div:hover {
	  border-top: 1px solid green;
  }