body {
	font-family: sans-serif;
}

a {
	color: black;
}

#Title {
	text-align: center;
	border: 1px solid blue;
	height: 5em;
	background-color: white;
}

#DropdownsContainer div {
	border: 1px solid blue;
	float: left;
	display: inline;
	height: 5em;
	width: 24.851%;
	background-color: white;
}

 #DropdownsContainer div div {
	 visibility: hidden;
	 width: 100%;
	 text-align: center;
 }

#DropdownsContainer div h2 {
	text-align: center;
}

#DropdownsContainer div:hover {
	background-color: lightblue;
}
#DropdownsContainer div:hover div{
	visibility: visible;
}
 
#DropdownsContainer div div:hover {
	  border-top: 1px solid blue;
  }

#clickme:active {
	background-color: blue;
}